@charset "utf-8";

* {
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: #727272;
    text-transform: uppercase;
    display: block;
    font-family: Arial, sans-serif;
}

nav .active a, nav a:hover {
    color: #ffffff;
    background-color: #39aae1 ;
}

/* Section 1 */

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

div .bannerup {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.bannerup h1 {
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0px 1px 0px #555555;
    padding: 0;
    margin: 0;
    max-width: 350px;
}

.bannerup h2 {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 1px 0px #555555;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    max-width: 350px;
}

div .bannerdown {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner_titles {
    font-size: 21px;
}

.banner_texts {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bannerdown a {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #ffffff;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_texts p {
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 12px;
    text-align: right;
    display: block;
    float: right;
}

.ban3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

/* Centro */

#centro {
    display: flex;
    justify-content: center;
}

#centro section {
    flex: 2;
}

#centro aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    margin-top: 10px;
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}

article .news_posted_at {
    color: #ffffff;
    font-size: 12px;
    background-color: #2b4c99;
    padding: 10px;
    margin-right: 2px;

}

article .news_comments {
    color: #ffffff;
    font-size: 12px;
    background-color: #39aae1;
    padding: 10px;
}

article .news_image {
    margin-top: 20px;
}
article .news_image img {
    width: 100%;
    height: auto;
}

article .news_text_title {
    color: #000000;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 25px;
}
             
article .news_text {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
    flex: 1;
}

.fm1, .fm2, .fm3 {
    flex: 1;
}

.fm1 {
    background-color: #39aae1;
}

.fm2 {
    background-color: #0079c7;
}

.fm3 {
    background-color: #2b4c99;
}

.footer_menu a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    padding: 20px;
}
.footer_area {
    display: flex;
}

.footer_areatext {
    flex: 1;
    color: #ffffff;
    padding: 5px
}

.cont_column {
    flex-direction: column;
}

footer .widget_title_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}


@media only screen and (max-width: 600px) {
    .bannerup h1 {
        font-size: 55px;
    }

    .bannerup h2 {
        font-size: 17px;
    }

    .bannerup {

        padding: 20px;
    }
    .bannerdown {
        height: auto;
        flex-direction: column;
    }
    .container {
		flex-direction:column;
	}




}















